<app-header></app-header>
  <div class="v-container">

    <!-- Title -->
    <div class="jumbotron">
      <h1>Shaiya Shade Events</h1>
      <h5>by vblong</h5>
    </div>

    <!-- Description -->
    <div class="v-container-description">
      About TODO
    </div>

    <!-- Details -->
    <div class="v-container-details">
      <table class="table table-responsive table-dark table-striped table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Duration</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Monday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
            <td>TO DO</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Share section -->
    <div class="v-container-sharing">
      <h3>Share this event:</h3>
      <a href="#">http://######</a>
    </div>
  </div>
<app-footer></app-footer>
