<app-header></app-header>
  <div class="v-container">

    <!-- Title -->
    <div class="jumbotron">
      <h1>{{shadeEvent.name}}</h1>
      <h5>by <a href="/{{shadeEvent.creator.id}}">{{shadeEvent.creator.name}}</a></h5>
    </div>

    <div class="v-container-info">
      <!-- Description -->
      <div class="v-container-description">
        <h3>Description</h3>
        {{shadeEvent.description}}
      </div>

      <!-- Details -->
      <div class="v-container-details">
        <h3>Schedule</h3>
        <table class="table table-responsive table-dark table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Event Time</th>
              <th>Your local Time<br>(Vietnam)</th>
              <th>Location</th>
              <th>Duration</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let event of shadeEvent.baseEvents">
              <td>{{weekdays[event.date.getDay()]}}</td>
              <td>{{event.date.toLocaleTimeString()}}</td>
              <td>{{event.date.toLocaleTimeString()}}</td>
              <td>{{event.location}}</td>
              <td>{{event.duration/3600}} hours</td>
              <td>{{event.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modify -->
      <div class="v-container-modify">
        <a href="#">Modify this event</a>
      </div>

      <!-- Share section -->
      <div class="v-container-sharing">
        <h3>Share this event:</h3>
        <a href="#">http://######</a>
      </div>
    </div>
  </div>
<app-footer></app-footer>
