.v-container {
  text-align: center;
}

.v-container div {
  text-align: center;
}

.v-container-details {
  text-align: -webkit-center !important;
}

table {
  max-width: 1024px;
  display: inline-table;
}

table th, table td{
  text-align: center;
}

.v-container-sharing {
  margin: 50px;
}
